aioconsole==0.1.15
aiohttp==3.6.2
aioopenssl==0.4.1
aiosasl==0.4.0
aioxmpp==0.10.5
async-timeout==3.0.1
attrs==19.3.0
Babel==2.7.0
beautifulsoup4==4.8.1
BenBotAsync==1.0.9
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
crayons==0.3.0
cryptography==2.8
dnspython==1.16.0
fortnitepy==1.0.1
idna==2.8
lxml==4.4.1
multidict==4.5.2
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
pyOpenSSL==19.0.0
pytz==2019.3
requests==2.22.0
six==1.13.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
tzlocal==1.5.1
urllib3==1.25.7
yarl==1.3.0
